@model Projet.Models.Utilisateur
@{
    ViewData["Title"] = "EditUser";
}

<h1>Modifier un utilisateur</h1>
<hr/>
<form action="" method="post">
    <ul> <input type="hidden" name="id"  value="@Model.Id" /> </ul>

    <ul> <label>Nom de famille</label></ul>
    <ul> <input type="text" name="name" value="@Model.Nom" />  </ul>

    <ul> <label>Prénom</label></ul>
    <ul> <input type="text" name="firstname" value="@Model.Prenom" />  </ul>

    <ul> <label>Adresse</label></ul>
    <ul> <input type="text" name="adress" value="@Model.Adresse" />  </ul>

    <ul> <label>Date de naissance</label></ul>
    <ul> <input type="date" name="dob" value="@Model.DateNaissance" />  </ul>

    <ul> <label>Numéro de téléphone</label></ul>
    <ul> <input type="tel" name="phone" value="@Model.Telephone" />  </ul>

    <ul> <label>Courriel</label></ul>
    <ul> <input type="email" name="email" value="@Model.Courriel" />  </ul>

    <ul> <label>Admin ?</label></ul>
    <input type="checkbox" name="role" value="true"/>
    <hr />
    <ul> <input type="submit" value="edituser" />  </ul>
</form>
