@model Projet.Models.Electrique
@{
    ViewData["Title"] = "EditElec";
}

<h1>Modifier un outil électrique</h1>
<hr />
<form action="" method="post">
    <ul> <input type="number" name="id" hidden="hidden" value="@Model.IdElectrique" /> </ul>
    <ul> <input type="number" name="idoutil" hidden="hidden" value="@Model.IdOutil" /> </ul>

    <ul> <label>Nom</label></ul>
    <ul> <input type="text" name="name" value="@Model.NomOutil" />  </ul>

    <ul> <label>Puissance</label></ul>
    <ul> <input type="number" name="puissance" value="@Model.Puissance" />  </ul>

    <ul> <label>Description</label></ul>
    <ul> <input type="text" name="description" value="@Model.Description" />  </ul>

    <ul> <label>Prix</label></ul>
    <ul> <input type="number" step="0.01" name="prix" value="@Model.Prix" />  </ul>

    <ul> <label>Stock</label></ul>
    <ul> <input type="number" name="stock" value="@Model.Stock" />  </ul>

    <ul> <label>Photo</label></ul>
    <ul> <input type="file" name="image" value="@Model.Image" /> </ul>

    <hr />
    <ul> <input type="submit" value="editElec" />  </ul>
</form>
