@model Projet.Models.Hydraulique
@{
    ViewData["Title"] = "Description produit";
}

<h1>Description du produit @Model.NomOutil</h1>

<table>
    <thead>
        <tr>
            <th id="product-pic-col">Produit</th>
            <th id="product-name-col"></th>
            <th id="product-price-col">Prix</th>
            <th id="product-power-col">Pression</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @{
                    if (@Model.Image != null)
                    {
                        var base64 = Convert.ToBase64String(Model.Image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" width="100" height="100" />
                    }
                }
            </td>
            <td>@Model.NomOutil</td>
            <td>@Model.Prix</td>
            <td>@Model.Pression</td>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>