@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Projet.Models
@{
    var db = DataContext.GetInstance();
    String name = User.Identity.Name;
    List<Electrique> listElec = db.Electriques.ToList();
    List<Hydraulique> listHydrau = db.Hydrauliques.ToList();
}

<div class="container">


    <h1>Liste des produits Electriques</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Puissance</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elec in listElec)
            {
                <tr>
                    <th>@elec.IdElectrique</th>
                    <th>@elec.NomOutil</th>
                    <th>@elec.Puissance</th>
                    <th>@elec.Description</th>
                    <th>@elec.Prix</th>
                    <th>@elec.Stock</th>
                    <th>
                        @{
                            if (elec.Image != null)
                            {
                                var base64 = Convert.ToBase64String(elec.Image);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img src="@imgSrc" width="100" height="100"/>
                            }
                        }
                    </th>
                    <th>
                        <div class="btn-group">
                            <a asp-action="EditElec" asp-controller="Products" asp-route-id="@elec.IdElectrique" class="btn btn-sm btn-info">Modifier</a>
                            <a asp-action="DeleteElec" asp-route-id="@elec.IdElectrique" class="btn btn-sm btn-danger ml-1">Supprimer</a>
                        </div>
                    </th>

                </tr>
            }
        </tbody>
    </table>
    <p> <center><a asp-action="AddElec" class="btn btn-sm btn-info">Ajouter un produit Electrique</a></center> </p>
    <br />
    <br />


    <h1>Liste des produits Hydrauliques</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Pression</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hydrau in listHydrau)
            {
                <tr>
                    <th>@hydrau.IdHydraulique</th>
                    <th>@hydrau.NomOutil</th>
                    <th>@hydrau.Pression</th>
                    <th>@hydrau.Description</th>
                    <th>@hydrau.Prix</th>
                    <th>@hydrau.Stock</th>
                    <th>
                         @{
                            if (hydrau.Image != null)
                            {
                                var base64 = Convert.ToBase64String(hydrau.Image);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img src="@imgSrc" width="100" height="100" />
                            }
                        }
                    </th>
                    <th>
                        <div class="btn-group">
                            <a asp-action="EditHydrau" asp-controller="Products" asp-route-id="@hydrau.IdHydraulique" class="btn btn-sm btn-info">Modifier</a>
                            <a asp-action="DeleteHydrau" asp-route-id="@hydrau.IdHydraulique" class="btn btn-sm btn-danger ml-1">Supprimer</a>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>

    <p> <center><a asp-action="AddHydrau" class="btn btn-sm btn-info">Ajouter un produit Hydrau</a> </center></p>
    <br />
    <br />


</div>