@{
    ViewData["Title"] = "Acceuil";
}

@using Projet.Models
@{
    var db = DataContext.GetInstance();
    String name = User.Identity.Name;
    List<Electrique> listElec = db.Electriques.ToList();
    List<Hydraulique> listHydrau = db.Hydrauliques.ToList();
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<div id="header">
    <div class="container">
        <!-- Navbar ================================================== -->
        <div id="logoArea" class="navbar">
            <div class="navbar-inner">
                <a class="brand" href=""><img src="~/images/logo_black.png" alt="noname" /></a>
                <form class="form-inline navbar-search" method="get" action="">
                    <input name="keyword" value="" />
                    <select value="" class="srchTxt">
                        <option value="all">TOUS</option>
                        <option value="electric">ÉLECTRIQUE</option>
                        <option value="hydraulic">HYDRAULIQUE</option>
                        <option value="manual">MANUEL</option>
                    </select>
                    <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
                </form>
                <ul id="topMenu" class="nav pull-right">
                    <li><a href="">Nos magasins</a></li>
                    <li><a asp-controller="Home" asp-action="Profile">Mon profil</a></li>
                    <li><a href="">Mon inventaire</a></li>
                    <li><a href="">Mon panier</a></li>
                </ul>
                @if (User.IsInRole("Admin"))
                {
            <ul class="nav pull-right" style="left: 475px">

                <li class="" asp-controller="User" asp-action="Admin">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Admin">Gestion des utilisateurs</a>
                </li>
                <li class="" asp-controller="Products" asp-action="ListProducts">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ListProducts">Gestion des produits</a>

                </li>
            </ul>
                }
                </div>
        </div>
    </div>
</div>

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                <div class="well well-small">
                    <a id="myCart" href="">
                        <img src="~/images/cart.png" alt="cart">Voir mon panier [3]<span class="badge badge-warning pull-right">$155.00</span>
                    </a>
                </div>
                <ul id="sideManu" class="nav nav-tabs nav-stacked">
                    <li class="subMenu open">
                        <a> ÉLECTRIQUE [230]</a>
                        <ul>
                            <li>
                                <a class="active" href="">
                                    <i class="icon-chevron-right"></i>Cameras
                                    (100)
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon-chevron-right"></i>Computers, Tablets &
                                    laptop (30)
                                </a>
                            </li>
                            <li>
                                <a href=""><i class="icon-chevron-right"></i>Mobile Phone (80)</a>
                            </li>
                            <li>
                                <a href=""><i class="icon-chevron-right"></i>Sound & Vision (15)</a>
                            </li>
                        </ul>
                    </li>
                    <li class="subMenu">
                        <a> HYDRAULIQUE [840] </a>
                        <ul style="display:none">
                            <li>
                                <a href="">
                                    <i class="icon-chevron-right"></i>Women's Clothing
                                    (45)
                                </a>
                            </li>
                            <li>
                                <a href=""><i class="icon-chevron-right"></i>Women's Shoes (8)</a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon-chevron-right"></i>Women's Hand Bags
                                    (5)
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon-chevron-right"></i>Men's Clothings
                                    (45)
                                </a>
                            </li>
                            <li>
                                <a href=""><i class="icon-chevron-right"></i>Men's Shoes (6)</a>
                            </li>
                            <li>
                                <a href=""><i class="icon-chevron-right"></i>Kids Clothing (5)</a>
                            </li>
                            <li><a href=""><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>
                        </ul>
                    </li>
                    <li class="subMenu">
                        <a>MANUEL [1000]</a>
                        <ul style="display:none">
                            <li><a href=""><i class="icon-chevron-right"></i>Angoves (35)</a></li>
                            <li>
                                <a href="">
                                    <i class="icon-chevron-right"></i>Bouchard Aine & Fils
                                    (8)
                                </a>
                            </li>
                            <li>
                                <a href=""><i class="icon-chevron-right"></i>French Rabbit (5)</a>
                            </li>
                            <li>
                                <a href=""><i class="icon-chevron-right"></i>Louis Bernard (45)</a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon-chevron-right"></i>BIB Wine (Bag in Box)
                                    (8)
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon-chevron-right"></i>Other Liquors & Wine
                                    (5)
                                </a>
                            </li>
                            <li><a href=""><i class="icon-chevron-right"></i>Garden (3)</a></li>
                            <li>
                                <a href=""><i class="icon-chevron-right"></i>Khao Shong (11)</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <br />
            </div>
            <!-- Sidebar end=============================================== -->
            <!-- Products list ============================================ -->
            <div class="span2">
                <table class="overview-description">
                    <thead>
                        <tr>
                            <th id="product-pic-col">Produit</th>
                            <th id="product-name-col"></th>
                            <th id="product-price-col">Prix</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var elec in listElec)
                        {
                            <tr>
                                <td>
                                    <img src="" width="120" height="120" alt="Image" />
                                </td>
                                <td>@elec.NomOutil</td>
                                <td>@elec.Prix</td>
                                <td>@elec.Description</td>
                                <td>
                                    <a asp-controller="Products" asp-action="DescriptionElec" asp-route-id="@elec.IdElectrique">
                                        <input type="submit" value="Description" />
                                    </a>
                                </td>
                            </tr>
                        }
                        @foreach (var hydrau in listHydrau)
                        {
                            <tr>
                                <td>
                                    <img src="" width="120" height="120" alt="Image" />
                                </td>
                                <td>@hydrau.NomOutil</td>
                                <td>@hydrau.Prix</td>
                                <td>@hydrau.Description</td>
                                <td>
                                    <a asp-controller="Products" asp-action="DescriptionElec" asp-route-id="@hydrau.IdHydraulique">
                                        <input type="submit" value="Description" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Products list end========================================= -->
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.js" type="text/javascript"></script>
    <script src="~/js/noname.js" type=text/javascript></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/noname.js"></script>
}
