@using Projet.Models
@model Projet.Models.Utilisateur

@{
    ViewData["Title"] = "Acceuil";
    var db = DataContext.GetInstance();
    String name = User.Identity.Name;
    List<Electrique> listElec = db.Electriques.ToList();
    List<Hydraulique> listHydrau = db.Hydrauliques.ToList();
    var returnUrl = ViewData["ReturnUrl"] as string;
    List<OutilObjet> tools = (List<OutilObjet>)ViewData["Tools"];
}

<div id="header">
    <div class="container">
        <!-- Navbar ================================================== -->
        <div id="logoArea" class="navbar">
            <div class="navbar-inner">
                <a class="brand" href=""><img src="~/images/logo_black.png" alt="noname" /></a>
                <form class="form-inline navbar-search" method="get" asp-controller="Home" asp-action="Search">
                    <input name="keyword" />
                    <select class="srchTxt" name="searchField">
                        <option value="all">TOUS</option>
                        <option value="electric">ÉLECTRIQUE</option>
                        <option value="hydraulic">HYDRAULIQUE</option>
                        <option value="manual">MANUEL</option>
                    </select>
                    <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
                </form>
                <ul id="topMenu" class="nav pull-right">
                    <li><a href="">Nos magasins</a></li>
                    <li><a asp-controller="Home" asp-action="Profile">Mon profil</a></li>
                    <li><a href="">Mon inventaire</a></li>
                    <li><a href="">Mon panier</a></li>
                </ul>
                @if (User.IsInRole("Admin"))
                {
                   <ul class="nav pull-right" style="left: 475px">

                        <li class="" asp-controller="User" asp-action="Admin">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Admin">Gestion des utilisateurs</a>
                        </li>
                        <li class="" asp-controller="Products" asp-action="ListProducts">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ListProducts">Gestion des produits</a>

                        </li>
                    </ul>
                        }
            </div>
        </div>
    </div>
</div>

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                <div class="well well-small">
                    <a id="myCart" href="">
                        <img src="~/images/cart.png" alt="cart">Voir mon panier [3]<span class="badge badge-warning pull-right">$155.00</span>
                    </a>
                </div>
                <ul id="sideManu" class="nav nav-tabs nav-stacked">
                    <li class="subMenu open">
                        <a> ÉLECTRIQUE [210]</a>
                        <ul>
                            <li><a class="active" href=""><i class="icon-chevron-right"></i>Perceuse (100)</a></li>
                            <li><a href=""><i class="icon-chevron-right"></i>Visseuse (30)</a></li>
                            <li><a href=""><i class="icon-chevron-right"></i>Aspirateur (80)</a></li>
                        </ul>
                    </li>
                    <li class="subMenu">
                        <a> HYDRAULIQUE [25] </a>
                        <ul style="display:none">
                            <li><a href=""><i class="icon-chevron-right"></i>Presse (20)</a></li>
                            <li><a href=""><i class="icon-chevron-right"></i>Pistons (5)</a></li>
                        </ul>
                    </li>
                    <li class="subMenu">
                        <a>MANUEL [40]</a>
                        <ul style="display:none">
                            <li><a href=""><i class="icon-chevron-right"></i>Tournevis (35)</a></li>
                            <li><a href=""><i class="icon-chevron-right"></i>Marteau (5)</a></li>
                        </ul>
                    </li>
                </ul>
                <br />
            </div>
            <!-- Sidebar end=============================================== -->
            <!-- Products list ============================================ -->
            <div class="span2">
                <table class="overview-description">
                    <thead>
                        <tr>
                            <th id="product-pic-col">Produit</th>
                            <th id="product-name-col"></th>
                            <th id="product-price-col">Prix</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (tools != null)
                                                                        {
                                                                            foreach (var tool in tools)
                                                                            {
                        <tr>
                            <td>
                                <img src="" width="120" height="120" alt="Image" />
                            </td>
                            <td>@tool.NomOutil</td>
                            <td>@tool.Prix</td>
                            <td>@tool.Description</td>
                            <td>
                                @*@if (listElec.Contains(tool))
                                    {
                                        <a asp-controller="Products" asp-action="DescriptionElec" asp-route-id="@tool.IdOutil">
                                            <input type="submit" value="Description" />
                                        </a>
                                    }
                                    else if (listHydrau.Contains(tool))
                                    {
                                        <a asp-controller="Products" asp-action="DescriptionHydrau" asp-route-id="@tool.IdOutil">
                                            <input type="submit" value="Description" />
                                        </a>
                                    }*@
                                <a asp-controller="Products" asp-action="DescriptionElec" asp-route-id="@tool.IdOutil">
                                    <input type="submit" value="Description" />
                                </a>
                            </td>
                        </tr>
}
                                                                }
                                                                else
{
                        foreach (var elec in listElec)
                        {
                            <tr>
                                <td>
                                    @{
                                        if (elec.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(elec.Image);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            <img src="@imgSrc" width="100" height="100" />
                                        }
                                    }
                                </td>
                                <td>@elec.NomOutil</td>
                                <td>@elec.Prix</td>
                                <td>@elec.Description</td>
                                <td>
                                    <a asp-controller="Products" asp-action="DescriptionElec" asp-route-id="@elec.IdElectrique">
                                        <input type="submit" value="Description" />
                                    </a>
                                </td>
                            </tr>
                        }
                        foreach (var hydrau in listHydrau)
                        {
                            <tr>
                                <td>
                                    @{
                                        if (hydrau.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(hydrau.Image);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            <img src="@imgSrc" width="100" height="100" />
                                        }
                                    }
                                </td>
                                <td>@hydrau.NomOutil</td>
                                <td>@hydrau.Prix</td>
                                <td>@hydrau.Description</td>
                                <td>
                                    <a asp-controller="Products" asp-action="DescriptionHydrau" asp-route-id="@hydrau.IdHydraulique">
                                        <input type="submit" value="Description" />
                                    </a>
                                </td>
                            </tr>
                        }
}
                    </tbody>
                </table>
            </div>
            <!-- Products list end========================================= -->
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.js" type="text/javascript"></script>
    <script src="~/js/noname.js" type=text/javascript></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/noname.js"></script>
}
